@{
    ViewData["Title"] = "Survey Data";
}
<body>

    <div id="vis"></div>
</body>
<script src="~/js/d3.min.js"></script>
<script src="~/js/d3.parsets.js"></script>
<script src="~/js/highlight.js"></script>
<script>
    d3.rebind = function (target, source) {
        var i = 1, n = arguments.length, method;
        while (++i < n) target[method = arguments[i]] = d3_rebind(target, source, source[method]);
        return target;
    };

    // Method is assumed to be a standard D3 getter-setter:
    // If passed with no arguments, gets the value.
    // If passed with arguments, sets the value and returns the target.
    function d3_rebind(target, source, method) {
        return function () {
            var value = method.apply(source, arguments);
            return value === source ? target : value;
        };
    }

    d3.functor = function functor(v) {
        return typeof v === "function" ? v : function () {
            return v;
        };
    };
</script>
<link href="~/css/d3.parsets.css" rel="stylesheet" />
<script>

    var margin = { top: 0, right: 120, bottom: 50, left: 0 },
        width = 960 - margin.left - margin.right,
        height = 600 - margin.top - margin.bottom;


    var chart = d3.parsets()
        .width(height)
        .height(width)
        .dimensions(["Source", "Device", "Country", "Prior"])
        .tension(.5);

    var svg = d3.select("#vis").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(0," + height + ")rotate(-90)");

    d3.csv("https://localhost:44318/4col_survey_data_test.csv", function (error, csv) {
        svg.datum(csv).call(chart);
        svg.selectAll(".category text")
            .attr("dx", 5)
            .attr("transform", "rotate(90)");
        svg.selectAll(".category rect")
            .attr("y", 0);
        svg.selectAll("text.dimension")
            .attr("dy", "1.5em")
            .attr("transform", "rotate(90)");
        svg.selectAll("text.dimension .sort.alpha")
            .attr("x", 0)
            .attr("dx", 0)
            .attr("dy", "1.5em");
        svg.selectAll("text.dimension .sort.size")
            .attr("dx", "1em");
    });

</script>
<div class="parsets tooltip"></div>